.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
*.lo
config*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
opcode_monitor.lo
opmon.la
run-tests.php
